<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pre-Match Matches</h1>
    <% if (matches.length > 0) { %>
      <% matches.forEach(function(match) { %>
        <h2>Match ID: <%= match.Id %></h2>
        <p>Match Name: <%= match.Name %></p>
        <!-- Display other match information as needed -->
      <% }); %>
    <% } else { %>
      <p>No matches available</p>
    <% } %>
</body>
</html>