<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/plugin/nice-select.css">
    <link rel="stylesheet" href="/css/plugin/slick.css">
    <link rel="stylesheet" href="/css/custom-family.css">
    <link rel="stylesheet" href="/css/plugin/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugin/animate.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-color: black;">
    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->

    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- Register In start -->
    <section class="log-reg register reg-2">
        <div class="overlay">
            <div class="container">
                <div class="top-head-area">
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-5 col">
                          
                        </div>
                        <div class="col-sm-5 col">
                            
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-5 pt-120">
                        <div class="left-area">
                            <div class="section-header">
                              
                            </div>
                            <div class="single-item d-flex align-items-center">
                              
                            
                            </div>
                            <div class="single-item d-flex align-items-center">
                               
                               
                            </div>
                            <div class="single-item d-flex align-items-center">
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 z-1 text-center d-flex justify-content-center pb-120">
                        <div class="form-box">
                            <h4>Register</h4>
                            <p class="alr-acc dont-acc">Already have an account? <a href="/login/login">Log in now.</a></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                               
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                                    <form action="/signup/signup" method="post">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="text" placeholder="First Name" name="firstname" id="firstname">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="text" placeholder="Last Name" name="lastname" id="lastname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="text" name="username" id="username" placeholder="Username">
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="email" placeholder="example@gmail.com" name="email" id="email">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="single-input country-code d-flex align-items-center">
                                                    <select>
                                                        <option value="1">+ 355</option>
                                                        <option value="2">+ 39</option>
                                                        <option value="2">+ 44</option>
                                                    </select>
                                                    <input type="number" placeholder="(6x) xx xx xxx" name="phone_number" id="phone_number">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="password" class="passInput" placeholder="Password" name="password" id="password">
                                                    <img class="showPass" src="/img/show-hide.png" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="remember-forgot d-flex justify-content-between">
                                            <div class="form-group d-flex">
                                                <div class="checkbox_wrapper" >
                                                    <input class="check-box" id="check1" type="checkbox">
                                                    <label></label>
                                                </div>
                                                <label for="check1"><span class="check_span">Remember Me</span></label>
                                            </div>
                                            <div class="forget-pw">
                                                <a href="forgot-password-2.html">Forgot your password?</a>
                                            </div>
                                        </div>
                                        
                                        <div class="btn-area">
                                            <button class="cmn-btn">Register Now</button>
                                        </div>
                                    </form>
                                    
                                </div>
                                <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Register In end -->

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/proper-min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/fontawesome.js"></script>
    <script src="/javascripts/plugin/slick.js"></script>
    <script src="/javascripts/plugin/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/plugin/apexcharts.min.js"></script>
    <script src="/javascripts/plugin/jquery.nice-select.min.js"></script>
    <script src="/javascripts/plugin/jquery.countdown.js"></script>
    <script src="/javascripts/plugin/wow.min.js"></script>
    <script src="/javascripts/plugin/plugin.js"></script>
    <script src="/javascripts/main.js"></script>
    
</body>

</html>